.logo-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it is on top */
  animation: moveAndFade 2s ease-in-out forwards; /* Update animation */
}

.hidden {
  opacity: 0;
  pointer-events: none; /* Prevent interaction when hidden */
}

.visible {
  opacity: 1;
}

/* Keyframes for movement and fade-out animation */
@keyframes moveAndFade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px); /* Move up */
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 0); /* Move to the right */
    opacity: 0; /* Fade out */
  }
} 